# Folders
build/
.vscode/

# Files
.gitignore
.gitattributes
.DS_Store
ArduPong/Images/Court.psd
ArduPong/Images/TitleScreen.psd
ArduPong/Images/TitleScreenBall.psd
ArduPong/Images/TitleScreen copy.png
ArduPong/Images/TitleScreenBall.png
ArduPong/Images/Court.png